<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-5 col-lg-4 h3">Postagens</div>
  </div>
  
  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
      <table class="table">
        <tr> 
          <th>Usuario</th>
          <th>Conteudo</th>
        </tr>
        <tbody>
          <tr *ngFor="let post of postagens">
            <td>{{ post.usuario.nome }}</td>
            <td>{{ post.conteudo }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
