<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-5 col-lg-4 h3">Usuários</div>
  </div>
  
  <div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 table-responsive">
      <table class="table">
        <tr> 
          <th>Nome</th>
          <th>Email</th>
          <th class="hidden-xs hidden-sm">Data de Nascimento</th>
        </tr>
        <tbody>
          <tr *ngFor="let usuario of usuarios">
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td class="hidden-xs hidden-sm">{{ usuario.dataNascimento }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
